<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frz.korearbazar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kb_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kb_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.frz.korearbazar.activity.LanguageActivity"></activity>
        <activity android:name="com.frz.korearbazar.activity.VendorRegisterActivity" />
        <activity android:name="com.frz.korearbazar.activity.RelatedProdDetailsActivity" />
        <activity android:name="com.frz.korearbazar.activity.CategoryDetailsActivity" />
        <activity android:name="com.frz.korearbazar.activity.CheckoutActivity"
            android:parentActivityName="com.frz.korearbazar.MainActivity"/>
        <activity android:name="com.frz.korearbazar.activity.CartActivity"
            android:parentActivityName="com.frz.korearbazar.MainActivity"/>
        <activity
            android:name="com.frz.korearbazar.activity.ProfileActivity"
            android:parentActivityName="com.frz.korearbazar.MainActivity" />
        <activity
            android:name="com.frz.korearbazar.activity.SignUpActivity"
            android:parentActivityName="com.frz.korearbazar.MainActivity" />
        <activity
            android:name="com.frz.korearbazar.activity.LoginActivity"
            android:parentActivityName="com.frz.korearbazar.MainActivity" />
        <activity
            android:name="com.frz.korearbazar.activity.BlogActivity"
            android:parentActivityName="com.frz.korearbazar.MainActivity" />
        <activity
            android:name="com.frz.korearbazar.activity.CategoryActivity"
            android:parentActivityName="com.frz.korearbazar.MainActivity" />
        <activity
            android:name="com.frz.korearbazar.FirstActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.frz.korearbazar.activity.ItemDetailsActivity" />
        <activity
            android:name="com.frz.korearbazar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>