<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.korearbazar.ecom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kb_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kb_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.korearbazar.ecom.UserProfile.ResetPasswordActivity"
            android:parentActivityName="com.korearbazar.ecom.activity.ProfileActivity"></activity>
        <activity android:name="com.korearbazar.ecom.UserProfile.EditProfileActivity"
            android:parentActivityName="com.korearbazar.ecom.activity.ProfileActivity"/>
        <activity android:name="com.korearbazar.ecom.UserProfile.AffiliateCodeActivity"
            android:parentActivityName="com.korearbazar.ecom.activity.ProfileActivity"/>
        <activity android:name="com.korearbazar.ecom.UserProfile.FavoriteSellerActivity"
            android:parentActivityName="com.korearbazar.ecom.activity.ProfileActivity"/>
        <activity android:name="com.korearbazar.ecom.UserProfile.MessageActivity"
            android:parentActivityName="com.korearbazar.ecom.activity.ProfileActivity"/>
        <activity android:name="com.korearbazar.ecom.UserProfile.WithdrawActivity"
            android:parentActivityName="com.korearbazar.ecom.activity.ProfileActivity"/>
        <activity
            android:name="com.korearbazar.ecom.activity.VendorActivity"
            android:parentActivityName="com.korearbazar.ecom.MainActivity" />
        <activity android:name="com.korearbazar.ecom.activity.LanguageActivity" />
        <activity android:name="com.korearbazar.ecom.activity.VendorRegisterActivity" />
        <activity android:name="com.korearbazar.ecom.activity.RelatedProdDetailsActivity" />
        <activity android:name="com.korearbazar.ecom.activity.CategoryDetailsActivity" />
        <activity
            android:name="com.korearbazar.ecom.activity.CheckoutActivity"
            android:parentActivityName="com.korearbazar.ecom.MainActivity" />
        <activity
            android:name="com.korearbazar.ecom.activity.CartActivity"
            android:parentActivityName="com.korearbazar.ecom.MainActivity" />
        <activity
            android:name="com.korearbazar.ecom.activity.ProfileActivity"
            android:parentActivityName="com.korearbazar.ecom.MainActivity" />
        <activity
            android:name="com.korearbazar.ecom.activity.SignUpActivity"
            android:parentActivityName="com.korearbazar.ecom.MainActivity" />
        <activity
            android:name="com.korearbazar.ecom.activity.LoginActivity"
            android:parentActivityName="com.korearbazar.ecom.MainActivity" />
        <activity
            android:name="com.korearbazar.ecom.activity.BlogActivity"
            android:parentActivityName="com.korearbazar.ecom.MainActivity" />
        <activity
            android:name="com.korearbazar.ecom.activity.CategoryActivity"
            android:parentActivityName="com.korearbazar.ecom.MainActivity" />
        <activity
            android:name="com.korearbazar.ecom.FirstActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.korearbazar.ecom.activity.ItemDetailsActivity" />
        <activity
            android:name="com.korearbazar.ecom.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>